body {
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

#canvas {
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#start-button {
    font-size: 20px;
    color: white;
    border: none;
    background-color: blueviolet;
    padding: 20px;
}

.timmer {
    text-align: center;
}