    @font-face {
        font-family: pixel;
        src: url(ARCADECLASSIC.ttf);
    }
    
    #game-board {
        display: none;
        justify-content: space-around;
    }
    
    #game-over {
        display: none;
    }
    
    body {
        font-family: pixel;
        background-image: url("./images/background.png");
        background-size: cover;
        height: 100%;
    }
    /*first screen*/
    
    #first-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .vol-on {
        position: absolute;
        top: 0;
        width: 3%;
        right: 0;
        padding: 1%;
    }
    
    .start-screen {
        display: flex;
    }
    
    .start-screen h2 {
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    
    .mode-level {
        text-align: center;
        font-size: 25px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    
    .title-start {
        font-size: 100px;
        letter-spacing: 0.7rem;
    }
    
    .arrows-image {
        width: 50%;
    }
    
    .spacebar-image {
        width: 60%;
        margin-top: 20px;
    }
    
    .instructions {
        margin: 0 100px;
    }
    
    .buttons-first-screen {
        margin: 0 100px;
    }
    
    .levels select option {
        font-family: pixel;
    }
    
    .select-items {
        font-family: pixel;
    }
    
    #levels {
        padding-bottom: 50px;
    }
    
    input[type='radio'] {
        box-sizing: border-box;
        appearance: none;
        background: white;
        outline: 2px solid #333;
        border: 3px solid white;
        width: 16px;
        height: 16px;
    }
    
    input[type='radio']:checked {
        background: #333;
    }
    
    label {
        font-size: 25px;
        margin-left: 10px;
        line-height: 36px;
    }
    
    #start-button {
        font-family: pixel;
        font-size: 50px;
        color: black;
        border: none;
        background-color: antiquewhite;
        padding: 26px;
    }
    
    #start-button:hover {
        background-color: beige;
    }
    
    #errorMessage {
        color: red;
    }
    
    #canvas {
        padding-top: 100px;
        margin: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .title {
        margin: 0;
        font-family: pixel;
        letter-spacing: 0.7rem;
        font-size: 80px;
        text-align: center;
    }
    
    .data {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .data span {
        font-size: 80px;
        margin-top: 3%;
    }
    
    .seconds {
        width: 150px;
    }
    
    .points {
        width: 150px;
    }
    /*game over*/
    
    #game-over {
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    #game-over h1 {
        margin: 0;
        font-family: pixel;
        letter-spacing: 0.7rem;
        font-size: 90px;
        margin-bottom: 20px;
    }
    
    .game-over-data {
        display: flex;
        align-items: center;
    }
    
    .play-again-button {
        font-family: pixel;
        font-size: 40px;
        color: black;
        border: none;
        background-color: antiquewhite;
        padding: 20px;
        margin-left: 50px;
    }
    
    #final-score {
        font-size: 70px;
    }